td {
  padding: 5px;
}
th {
  padding: 5px;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
h2 {
  margin: 0.75em 0;
  letter-spacing: -0.5px;
  font-size: 1.5em;
}
h3 {
  margin: 0.83em 0;
  padding: auto;
  font-size: 1.17em;
}
h4 {
  margin: 1.12em 0;
  font-size: 1em;
}
pre {
  text-align: justify;
}
a {
  color: #2980b9;
  text-decoration: none;
}
a:visited {
  color: #2980b9;
}
a:hover {
  color: #772233;
}
#footer p {
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
#footer a {
  color: #FFFFFF;
  font-weight: bold;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/***/
html {
  box-sizing: border-box;
  background: #c0c0c0;
  padding-top: 10px;
  /* Small Screens */
}
@media only screen and (max-width: 768px) {
  html {
    padding-top: 0;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: sans-serif, helvetica, arial;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: sans-serif, helvetica, arial;
  color: #006699;
  line-height: 1.3;
}
p {
  color: #000000;
}
img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/** Header */
#header {
  float: left;
  width: 100%;
  background: #c0c0c0;
}
#header .header-inner {
  max-width: 1140px;
  margin: 0 auto;
  font-family: sans-serif, helvetica, arial;
}
#header .header-inner .header-logo {
  background: #ffffff;
  padding: 0 35px;
  /* Small Screens */
}
@media only screen and (max-width: 768px) {
  #header .header-inner .header-logo {
    padding: 0 15px;
  }
}
#header .header-inner .header-logo img {
  width: 400px;
}
#header .header-inner nav.menuContainer {
  float: left;
  width: 100%;
  background: #006699;
  padding: 0 150px;
  /* Small Screens */
}
@media only screen and (max-width: 768px) {
  #header .header-inner nav.menuContainer {
    padding: 0 15px;
  }
}
#header .header-inner nav.menuContainer ul.menu {
  float: left;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* Small Screens */
}
@media only screen and (max-width: 768px) {
  #header .header-inner nav.menuContainer ul.menu {
    display: none;
  }
}
#header .header-inner nav.menuContainer ul.menu > li {
  float: left;
  font-size: 17px; /* 18px */
}
#header .header-inner nav.menuContainer ul.menu > li:hover {
  background: #1e1e1e;
}
#header .header-inner nav.menuContainer ul.menu > li:hover a {
  color: #c6c6c6;
}
#header .header-inner nav.menuContainer ul.menu > li a {
  display: block;
  padding: 8px 16px;
  color: #f6f6f6;
}
#header .header-inner nav.menuContainer ul.menu > li ul.dropdown-content {
  background: #373737;
  list-style-type: none;
  padding: 0;
}
#header .header-inner nav.menuContainer ul.menu > li ul.dropdown-content li:hover {
  background: #1e1e1e;
}
#header .header-inner nav.menuContainer ul.menu > li ul.dropdown-content li:hover a {
  color: #ffffff;
}
#header .header-inner nav.menuContainer ul.menu > li ul.dropdown-content li a {
  font-size: 17px;
}
#header .header-inner nav.menuContainer label {
  display: none;
  /* Small Screens */
}
@media only screen and (max-width: 768px) {
  #header .header-inner nav.menuContainer label {
    display: block;
    float: left;
    font-size: 16px;
    color: #f6f6f6;
    padding: 3px 0;
    margin: 9px 9px 9px 0;
  }
}
#header .header-inner nav.menuContainer select {
  display: none;
  /* Small Screens */
}
@media only screen and (max-width: 768px) {
  #header .header-inner nav.menuContainer select {
    display: block;
    float: left;
    height: 30px;
    font-size: 16px;
    max-width: 100%;
    margin: 9px 0;
  }
}
/** Main Content */
#mainContent {
  float: left;
  width: 100%;
  background-color: #c0c0c0;
  font-family: sans-serif, helvetica, arial;
}
#mainContent .mainContentInner {
  background: #ffffff;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px 35px;
  /* Small Screens */
}
@media only screen and (max-width: 768px) {
  #mainContent .mainContentInner {
    padding: 15px 15px;
  }
}
#mainContent .mainContentInner h1.title {
  margin-top: 3%;
}
/** Footer */
#footer {
  float: left;
  width: 100%;
  background: #c0c0c0;
}
#footer .footer-inner {
  background: #006699;
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 35px;
  /* Small Screens */
}
@media only screen and (max-width: 768px) {
  #footer .footer-inner {
    padding: 0 15px;
  }
}
/** Tables */
table {
  max-width: 100%;
}
table thead {
  background: #006699;
}
table thead th {
  width: auto !important;
}
table tbody {
  font-size: 16px;
  overflow: scroll;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
